PORT=3100
DOMAIN=localhost
PROTOCOL=http
SECRET_KEY=your_secret_key
TZ = Asia/Shanghai

# Database Configuration
POSTGRES_DB=flowo_logs
POSTGRES_USER=flowo
POSTGRES_PASSWORD=flowo_password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

FLOWO_WORKING_PATH=/home/zhanghm/project/iregene/flowo-working-path
CONTAINER_MOUNT_PATH=/flowo-data

BACKEND_CORS_ORIGINS=["*"]
