name: publish to pypi

on:
  push:
    branches:
      - release

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.12'

    - name: Install uv, twine
      run: |
        python -m pip install --upgrade pip
        pip install build twine

    - name: Clean dist directory
      run: rm -rf dist/* || true

    - name: Build the package with uv
      run: |
        python -m build

    - name: Publish the package to PyPI
      env:
        PYPI_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
      run: |
        twine upload dist/* -u __token__ -p $PYPI_PASSWORD